<div class="main-content">
    <div class="container-fluid">

        <div class="row">

            <div class="col-lg-1">&nbsp;</div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">attach_money</i>
                        </div>
                        <p class="card-category">Total Net Worth</p>
                        <h4 class="card-title">$10,345

                        </h4>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-danger">warning</i>
                            <a href="javascript:void(0)">Consider Increasing your saving!</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">store</i>
                        </div>
                        <p class="card-category">Revenue</p>
                        <h3 class="card-title">$34,245</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i> Last 24 Hours
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-1">&nbsp;</div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <app-invest-piechart></app-invest-piechart>
            </div>

        </div>

        <div class="row">
            <div class="col-md-1" style="margin-top: 1rem; font-weight: bolder; padding: 0px 5px; text-align: right;">Trend Interval</div>
            <div class="col-md-2" style="padding: 0px 5px;">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Select Interval
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <button class="dropdown-item" type="button" (click)="fiveDaysSelected()">5 DAYS</button>
                        <button class="dropdown-item" type="button" (click)="twoWeeksSelected()">2 WEEKS</button>
                        <!-- <button class="dropdown-item" type="button" (click)="oneMonthSelected()">1 MONTH</button> -->
                    </div>
                </div>
            </div>
            <div class="col-md-9">&nbsp;</div>
        </div>

        <!-- <div class="row">
            <div class="col-md-4">&nbsp;</div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-danger">
                        <div class="ct-chart" id="completedTasksChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">401k Trend</h4>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> //Placeholder for card footer//
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">&nbsp;</div>
        </div> -->


        <div class="row">
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-danger">
                        <div class="ct-chart" id="testChart_401k"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">401k Trend</h4>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> //Placeholder for card footer//
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-info">
                        <div class="ct-chart" id="testChart_ira"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">IRA Trend</h4>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> //Placeholder for card footer//
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-primary">
                        <div class="ct-chart" id="testChart_529"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">529 Trend</h4>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> //Placeholder for card footer//
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>