<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="fas fa-piggy-bank"></i>
                        </div>
                        <p class="card-category">Accounts</p>
                        <h3 class="card-title">3
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-gray">info</i>
                            <a href="javascript:void(0)">401K, IRA, 529</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="fas fa-hand-holding-usd"></i>
                        </div>
                        <p class="card-category">Current Value</p>
                        <h3 class="card-title"> {{accountTotalValue | currency:"$" }} </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i> Last 24 Hours
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="fas fa-chart-line"></i>
                        </div>
                        <p class="card-category">Unrealized Gains</p>
                        <h3 class="card-title">{{profitValue | currency:"$"}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">update</i> Just Updated
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-5 col-md-12 col-sm-12">    
                <app-invest-piechart></app-invest-piechart>
            </div>
            <div class="col-lg-7 col-md-12 col-sm-12">
                <app-inv-linechart></app-inv-linechart>
            </div>
        </div>
        
        <div class="row">
            <!-- <div class="col-lg-5 col-md-12 col-sm-12">
                <app-invest-piechart></app-invest-piechart>
                <app-invest-piechart></app-invest-piechart>
            </div> -->
            <div class="col-lg-12 col-md-12 col-sm-12">
                <app-mutualfunds></app-mutualfunds>
            </div>
        </div>

  <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="card card-chart">
                    <div class="card-header card-header-danger">
                        <div class="ct-chart" id="testChart_401k"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">401k Weekly Trend</h4>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> $XXX Change in Value
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="card card-chart">
                    <div class="card-header card-header-info">
                        <div class="ct-chart" id="testChart_ira"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">IRA Weekly Trend</h4>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> $XXX Change in Value
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="card card-chart">
                    <div class="card-header card-header-primary">
                        <div class="ct-chart" id="testChart_529"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">529 Weekly Trend</h4>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> $XXX Change in Value
                        </div>
                    </div>
                </div>
            </div>
        
    </div>
</div>